<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602271285218-dfvii7e06n245agisda6jtirmf63oceb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602271285218-dfvii7e06n245agisda6jtirmf63oceb</string>
	<key>API_KEY</key>
	<string>AIzaSyDuBaDzDwPAXYd_Gbxq73vrp970tjMxxmA</string>
	<key>GCM_SENDER_ID</key>
	<string>602271285218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>borysante.me.doobie</string>
	<key>PROJECT_ID</key>
	<string>doobie-8290d</string>
	<key>STORAGE_BUCKET</key>
	<string>doobie-8290d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602271285218:ios:c4132c2a2f33a46ec343bb</string>
</dict>
</plist>